.container {
  width: 75px;
  height: 75px;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: flex-end;
  margin-right: 28px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0);
}
.image {
  width: 21px;
  height: 21px;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 991px) {
  .container {
    height: 81px;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: -63px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .image {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .container {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .container {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
